<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swu.doran">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doran">
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"/>
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".profile.add.Profile_personality"
            android:exported="true" />
        <activity
            android:name=".profile.add.Profile_birthday"
            android:exported="true" />
        <activity
            android:name=".profile.add.Profile_select_emoji"
            android:exported="true" />
        <activity
            android:name=".profile.add.Profile_emoji"
            android:exported="true" />
        <activity
            android:name=".profile.add.Profile_name"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainDayActivity" />
        <activity android:name=".ScheduleWritingActivity" />
        <activity android:name=".FamilyWriting" />
        <activity android:name=".GameWriting" />
        <activity android:name=".MainCalendarActivity" />
        <activity android:name=".profile.start.ProfileMenuActivity" />
        <activity android:name=".profile.edit.ProfileEditActivity" />
        <activity android:name=".profile.edit.ProfileSelectActivity" />
        <activity android:name=".AddIssueActivity" />
        <activity android:name=".password.PasswordAppActivity" />
        <activity android:name=".password.PasswordEmailActivity" />
        <activity android:name=".password.EmailToSignIn" />
        <activity android:name=".mailbox.recieved.member.m_Activity" />
        <activity android:name=".mailbox.recieved.letter.list.l_ContentsActivity" />
        <activity android:name=".mailbox.recieved.letter.scrap.s_Activity" />
        <activity android:name=".mailbox.recieved.letter.list.l_Activity" />
        <activity android:name=".mailbox.sent.letter.list.L_Activity_X"/>
        <activity android:name=".mailbox.sent.member.M_Activity"/>
        <activity android:name=".mailbox.sent.letter.list.L_ContentsActivity"/>
        <activity android:name=".mailbox.send.SendActivity"/>
        <activity android:name=".mailbox.send.SendEmojiActivity"/>
        <activity android:name=".mailbox.send.SendLetterActivity"/>
    </application>

</manifest>